<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="POST" action='/articles'>
            
            <h2> Let's create a new article: </h2>

            <label>Title: </label>
            <input type="text" name="title">

<br/>

            <label>Content: </label>
            <input type="text" name="content">
<br/>
            <input type="submit" value="make puppy">
</form>
</body>
</html>