<h1>Create a new article: </h2>

<form method="POST" action="/articles">
<label>Title: </label>
<input type="text" name="title"/>
<br/>
<label>Content: </label>
<input type="text" name="content"/>

<input type="submit" id="Submit"/>
</form>