<h1>Create an Article</h1>

<form action="/articles" method="post">
    <label>Title</title>
    <input type="text" name="title">

    <label>Content</label>
    <input type="text" name="content">

    <input type="submit" value="Create Article">
</form>