<h1>Article</h1>

<a href="/articles">Back to Articles</a>

<p><%= @article.title %></p>

<p><%= @article.content %></p>

<a href="/articles/<%= @article.id %>/edit">Edit Article</a>

<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Article">
</form>